*{
	padding: 0;
	margin: 0;
}
body{
	width: screen.width;
	background-color: #006284;
	display: flex;
}
#ui-left{
	width: 900px;
}
#ex1{
	display: inline-block;
	background-color: #ee8877;
	width: 410px;
	height: 100px;
	line-height: 100px;
}
#ex1:hover{
	background-color: #ee8877;
	width: 610px;
	height: 100px;
	line-height: 100px;
}
a{
	width: auto;
}
#ex2{
	display: inline-block;
    background-color: #cd6a97;
    width: 550px;
    height: 140px;
    line-height: 140px; 
}
#ex2:hover{
    background-color: #cd6a97;
    width: 750px;
    height: 140px;
    line-height: 140px;
}
#ex3{
	display: inline-block;
	background-color: #ab47bc;
	width: 621px;
	height: 120px;
	line-height: 120px;
}
#ex3:hover{
	background-color: #ab47bc;
	width: 821px;
	height: 120px;
	line-height: 120px;
}
#ex4{
	display: inline-block;
	background-color: #7e57c2;
	width: 500px;
	height: 110px;
	line-height: 110px;
}
#ex4:hover{
	background-color: #7e57c2;
	width: 700px;
	height: 110px;
	line-height: 110px;
}
#ex5{
	display: inline-block;
	background-color: #5c6bc0;
	width: 760px;
	height: 130px;
	line-height: 130px;
}
#ex5:hover{
	background-color: #5c6bc0;
	width: 900px;
	height: 130px;
	line-height: 130px;
}
#ex6{
	display: inline-block;
	background-color: #5c6b90;
	width: 560px;
	height: 120px;
	line-height: 120px;
}
#ex6:hover{
	background-color: #5c6b90;
	width: 760px;
	height: 120px;
	line-height: 120px;
}
#ex7{
	display: inline-block;
	background-color: #558899;
	width: 500px;
	height: 90px;
	line-height: 90px;
}
#ex7:hover{
	background-color: #558899;
	width: 700px;
	height: 90px;
	line-height: 90px;
}
span{
	float: right;
	margin-right: 20px;
	color: #fff;
	font-size: 25px;
	font-family: "微软雅黑";
	/*font-weight: ;*/
}
#ui-right{
	flex: 1;
}
#ui-right-introduce{
	color: #fff;
	font-size: 40px;
	font-family: "微软雅黑";
	font-weight: bolder;
	text-shadow: 2px 2px 4px #fff;
	margin-top: 200px;
}